<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class=" bg-dark text-white p-2">
            Book Store
        </div>
        @RenderBody()
    </div>
</body>
</html>
