@page
@model mission09_juandm.Pages.PurchaseCompletedModel
@{
}
<div class='text-center'>
    <h2>Thanks for placing an order</h2>
    <a class="btn-primary" asp-controller="Home">Return Home</a>
</div>