a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-info .page-item {
    margin: 0 5px;
}

    .page-info .page-item a {
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .page-info .page-item.active a {
        background-color: #007bff;
        color: #fff;
    }

/* Sticky footer styles */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.btn-effect {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

    .btn-effect:hover {
        background-color: #f7f7f7;
        color: #333;
    }

    .btn-effect:active {
        transform: translateY(2px);
    }

    .btn-effect.btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-effect.btn-outline-secondary {
        background-color: transparent;
        color: #007bff;
        border: 2px solid #007bff;
    }

    .btn-effect.gradient {
        background-color: #007bff;
        background-image: linear-gradient(to bottom, #007bff, #0056b3);
        color: #fff;
    }

        .btn-effect.gradient:hover {
            background-color: #0056b3;
            background-image: linear-gradient(to bottom, #0056b3, #007bff);
        }

        .btn-effect.gradient:active {
            transform: translateY(2px);
        }

